#ez{
    visibility: hidden;
}
#mid{
    visibility: hidden;
}
#hrd{
    visibility: hidden;
}
#add{
    visibility: hidden;
}
#sub{
    visibility: hidden;
}
#mul{
    visibility: hidden;
}
#CurLevel{
    visibility: hidden;
}
#question{
    visibility: hidden;
}
#answerToCheck{
    visibility: hidden;
}
#inp{
    visibility: hidden;
}
#Chk{
    visibility: hidden;
}
#Correct{
    visibility: hidden;
}
#Next{
    visibility: hidden;
}
#Badges{
    visibility: hidden;
}
#AddCor{
    visibility: hidden;
}
#SubCor{
    visibility: hidden;
}
#MulCor{
    visibility: hidden;
}
#plus1{
    visibility: hidden;
}
#plus2{
    visibility: hidden;
}
#plus3{
    visibility: hidden;
}
#minus1{
    visibility: hidden;
}
#minus2{
    visibility: hidden;
}
#minus3{
    visibility: hidden;
}
#mult1{
    visibility: hidden;
}
#mult2{
    visibility: hidden;
}
#mult3{
    visibility: hidden;
}
#perfectPlus{
    visibility: hidden;
}
#perfectMinus{
    visibility: hidden;
}
#perfectMult{
    visibility: hidden;
}
#mix1{
    visibility: hidden;
}
#mix2{
    visibility: hidden;
}
#mix3{
    visibility: hidden;
}
#perfectMix{
    visibility: hidden;
}
#AddWrong{
    visibility: hidden;
}
#SubWrong{
    visibility: hidden;
}
#MulWrong{
    visibility: hidden;
}
#MixWrong{
    visibility: hidden;
}
#MixCor{
    visibility: hidden;
}
#MixWrong{
    visibility: hidden;
}
#mix{
    visibility: hidden;
}
#St{
    visibility: hidden;
}
#Name1{
    visibility: hidden;
}
#Name2{
    visibility: hidden;
}
#submit{
    visibility: hidden;
}
#playTurn{
    visibility: hidden;
}
#answerToCheck2{
    visibility: hidden;
}
#Chk2{
    visibility: hidden;
}
#Correct2{
    visibility: hidden;
}
#Next2{
    visibility: hidden;
}
#Player1Cor{
    visibility: hidden;
}
#Player2Cor{
    visibility: hidden;
}
#Player1Wor{
    visibility: hidden;
}
#Player2Wor{
    visibility: hidden;
}
#winner{
    visibility: hidden;
}
#perfectTotal{
    visibility: hidden;
}
#Secret{
    visibility: hidden;
}
#NameChg{
    visibility: hidden;
}
#NewName{
    visibility: hidden;
}
#NewSubmit{
    visibility: hidden;
}
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}


nav {
    float: left;
    width: 30%;
    background: #ccc;
    padding: 20px;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;

}


section::after {
    content: "";
    display: table;
    clear: both;
}


footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}


@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}